* {
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 1280px;
  padding: 20px 40px;
  margin: 0 auto;
  display: flex;
  gap:5px;
  flex-direction: column;
  align-items: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 10px;
}
.title {
  color: rgb(57, 102, 87);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 1.8rem;
}
.description {
  font-size: 1rem;
}
.description span {
  color:brown;
  font-weight: 700;
}
.textarea {
  display: block;
  width: 700px;
  height: 150px;
  margin: 10px auto;
  padding: 10px;
  font-size: 1rem;
  color: #444444;
  
}
.keyboard {
  font-size: 1.3rem;
  display: grid; 
  grid-row-gap: 5px;
  padding: 5px;
  position: relative;
  overflow: hidden; 
  background: #888888;
  border: 3px solid #222222;
  border-radius: 5px;
}
.sign{
  font-size: 0.5rem;
  transition: all 0.3s;
}
.sign-active{
  font-size: 1.3rem;
  transition: all 0.3s;
}
.keyboard__row {
 display: flex;
 gap: 0 5px;
}
.keyboard__key {
  border: 3px solid #222222;
  display: flex;
  width: 40px;
  height: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(76, 84, 96);
  -webkit-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
-moz-box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
box-shadow: -5px -5px 5px -5px rgba(34, 60, 80, 0.6) inset;
  border-radius: 3px;
  cursor: pointer; 
  user-select: none;
 
  transition: background-color 0.3s, border-radius 0.3s;
} 

.keyboard__key[data-code="Backspace"], .keyboard__key[data-code="CapsLock"], .keyboard__key[data-code="Enter"], .keyboard__key[data-code="ShiftLeft"], .keyboard__key[data-code="ShiftRight"], .keyboard__key[data-code="ControlLeft"]{
  width: 90px;
  font-size: 1.1rem;
}
.keyboard__key[data-code="Space"]{
  width: 345px;
}
.keyboard__key[data-fnbut="true"]{
  background-color: cadetblue;
  color:rgb(11, 54, 54);
}
.keyboard__key.active{
  background-color: sandybrown;
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
-moz-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset;
border-radius: 10px;
 }